@font-face {
  font-family: 'xsans';
  src:  url('fonts/NotoKufiArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'xsans', 'Tahoma', 'Sans-Serif';
  direction: rtl;
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.app-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 960px;
  height: 100%;
}
.header{
  width: 100%;
}
/*dropdown menu*/
.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 1;
  border-bottom: 4px solid rgba(153, 153, 153, 0.2);
  font-size: 14px !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px !important;
  font-weight: 500 !important
}

.dropdown-content a:hover {background-color: rgba(153, 153, 153, 0.2) !important;}

.dropdown:hover .dropdown-content {display: block;}

.header-desktop{
  background: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #5F5F5F;
  padding-top: 38px;
  padding-bottom: 34px;
  border-bottom: 1px solid #b2b2b2;
}
.header a{
  text-decoration: none;
  color: #5F5F5F;
}
.header a:hover{
  background: #F0F0F0;
  padding: 10px;
}
.header-vehicles {
  display:flex;
  flex-direction: row;
  margin-top: 14px
}
.header-vehicles a{
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
}
.header-customer{
  margin-top: 14px
}
.header-customer a{
  padding: 10px;
  font-size: 12px;
}
.header-logo img{
  width: 10rem;
  height: 8.1rem;
}
.header-search {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-right: 60px;
  width: 300px;
  height: 37px;
  background: #F0F0F0;
  border-bottom: 2px solid rgb(188,235,231);
  border-radius: 4px;
}
.header-search input{
  width: 260px;
  height: 37px;
  padding: 10px;
  border: none;
  background: none;
  color: #5F5F5F;
  border-bottom: 2px solid rgb(188,235,231);
  border-radius: 4px;
  font-size: 15px;
  font-family: 'xsans';
  font-weight: 500;
}
.bi-search{
  z-index: 5;
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}
.free{
  color: #EE45A9;
  font-size: 10px;
}
.homepage {
  height: 100%;
  margin:28px 0
}
.homepage-dektop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.homepage-mobile{
  display: none;
}
.header-mobile{
  display: none;
}
.header-mobile-btn-gp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.mobile-logo{
  width: 90px;
  height:17px;
}
.header-mobile-right-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0
}
.header-mobile-search{
  width: 100%;
  padding:  0 12px;
}
.header-mobile-search input{
  width: 100%;
  background: white;
  padding: 8px;
  border: none;
  color: #5F5F5F;
  border-bottom: 2px solid rgb(188,235,231);
  border-radius: 4px;
  font-size: 15px;
  font-family: 'xsans';
  font-weight: 500;
  margin-bottom: 10px;
}
.homepage-tabs{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  padding-left: 20px;
}
.homepage-tabs div{
  background: white;
  padding: 30px 10px;
}
.tab:hover{
  color: #EE45A9
}
.tab:active{
  color: #EE45A9
}
.active-desktop-tab{
  text-decoration: none;
  font-size: 13px;
  color: #EE45A9;
  font-weight: bold;
}
.tab{
  text-decoration: none;
  color: #7b7b7b;
  font-size: 13px;
}
.homepage-tab-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #b2b2b2;
}
.homepage-tab-section-tab4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.remove-tab{
  color: #b2b2b2;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
}
.remove-tab:hover{
  color: #333;
}
.homepage-details{
  width: 750px;
  height: 420px;
  background: #F0F0F0;
}
.homepage-details-in-tab{
  width: 750px;
  height: 420px;
  background: white;
}
.slide{
  width: 100%;
  height: 100%;
  padding: 50px;
  z-index: 10
}
.slide-show{
  width: 100%;
  height: 50%;
}
.slide-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between
}
.slide-title{
  color: #FFFFFF;
  font-size: 20px;
}
.slide-description{
  color: #6D0C63;
  font-size: 15px;
}
.slide-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: white;
  position: relative;
  left: 0px;
  top: 20px;
  border-radius: 50%
}
.bi-clock-history{
  width: 250px;
  height: 250px;
  font-size: 30px;
  color: #666;
}
.bi-minecart-slide{
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #666;
}
.bi-graph-up{
  width: 150px;
  height: 150px;
  font-size: 30px;
  color: #666;
}
.slide1{
  background: #EE45A9
}
.slide2{
  background: #a2dadb
}
.slide3{
  background: #ffda44
}
.homepage-details-bottom{
  padding: 50px;
  margin-top: 30px;
}
.total-posts{
  display: flex;
}
.total-posts-title{
  font-size: 19px;
  color: #7b7b7b;
}
.total-posts p{
  padding: 1px 4px;
  font-size: 25px;
  background: black;
  margin: 2px;
  color: white
}
.total-posts p:first-child{
  color: black;
  background: white;
}
.footer {
  display: flex;
  justify-content: space-between;
  background: white;
  border: none;
  padding: 6px 0;
  font-size: 12px;
  border-top: 1px solid #b2b2b2;
  color: #919191;
  align-items: center;
}
.footer-date{
  direction: ltr;
}
.footer-social{
  display: flex;
}
.biSocial{
  font-size: 16px;
  color: #e0e0e0
}
.bi:hover{
  color: #5F5F5F;
}
.bi-twitter{
  margin: 0 20px;
}
.bi-list{
  color: #333;
  font-size: 36px;
  font-weight: 700;
}
.save-free{
  font-size: 12px;
  border: 1px solid rgb(198,198,198);
  border-radius: 3px;
  padding: 1px 4px
}

@media (max-width: 960px) {
  .header-desktop, .footer-social, .homepage-dektop{
    display: none;
  }
  .footer{
    display: flex;
    flex-direction: row;
    margin: 30px 10px 0px 10px;
    direction: ltr;
  }
  .header-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(244,244,244);
  }
  .header-mobile-part3{
    background: rgb(250,250,250);
    font-size: 14px;
    font-weight: 700;
    color: #666;
    padding: 10px 12px
  }
  .header-mobile-part3 span{
    color: rgb(5, 189, 178);
    padding-left: 4px;
  }
  .homepage{
    margin: 0;
  }
  .homepage-mobile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .homepage-mobile-tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .homepage-mobile-tab{
    background: white;
    width: 25%;
    border: none;
    font-family: 'xsans', 'Tahoma', 'Sans-Serif';
    font-size: 14px;
    color: #b2b2b2;
    padding: 10px;
    border-bottom: 1px solid #b2b2b2;
  }
  .homepage-mobile-tab:hover {
    color: #EE45A9;
    border-bottom: 1px solid #EE45A9;
  }
  .homepage-mobile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100%
  }
  .homepage-mobile-content div{
    height: 100%;
  }
}