@font-face {
  font-family: 'xsans';
  src:  url('fonts/NotoKufiArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'xsans', 'Tahoma', 'Sans-Serif';
  direction: rtl;
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.app-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 97.6rem;
  height: 100%;
}
.header{
  background: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #5F5F5F;
  padding-top: 38px;
  padding-bottom: 53px;
  border-bottom: 1px solid #b2b2b2;
}
.header a{
  text-decoration: none;
  color: #5F5F5F;
}
.header a:hover{
  background: #F0F0F0;
  padding: 10px;
}
.header-vehicles {
  margin-top: 12px
}
.header-vehicles a{
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
}
.header-customer{
  margin-top: 14px
}
.header-customer a{
  padding: 10px;
  font-size: 12px;
}
.header-logo img{
  width: 10rem;
  height: 8.1rem;
}
.header-search {
  margin-top: 12px;
  margin-right: 60px;
}
.header-search input{
  width: 300px;
  height: 37px;
  padding: 10px;
  border: none;
  background: #F0F0F0;
  color: #5F5F5F;
  border-bottom: 2px solid rgb(188,235,231);
  border-radius: 4px;
  font-size: 14px;
  font-family: 'xsans';
}
.free{
  color: #EE45A9;
  font-size: 10px;
}
.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin:28px 0
}
.homepage-tabs{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  padding-left: 20px;
}
.homepage-tabs div{
  background: white;
  padding: 30px 10px;
}
.tab:hover{
  color: #EE45A9
}
.homepage-tabs a{
  text-decoration: none;
  color: #7b7b7b;
  font-size: 13px;
}
.homepage-tab-section{
  border-bottom: 1px solid #b2b2b2;
}
.homepage-details{
  width: 750px;
  height: 420px;
  background: #e0e0e0
}
.footer {
  display: flex;
  justify-content: space-between;
  background: white;
  border: none;
  padding: 6px 0;
  font-size: 12px;
  border-top: 1px solid #b2b2b2;
  color: #919191;
  align-items: center;
}
.footer-date{
  direction: ltr;
}
.bi{
  font-size: 16px;
  color: #e0e0e0
}
.bi:hover{
  color: #5F5F5F;
}
.bi-twitter{
  margin: 0 20px;
}